%h1 Address and Contact Information
= f.fields_for :address_info do |ai|
  .sub_section.clearfix
    .form-vertical.left-side
      = ai.label 'Street*'
      = ai.text_field :street

      = ai.label 'Village*'
      = ai.text_field :village

      = ai.label 'City*'
      = ai.text_field :city

      = ai.label 'Country*' 
      = ai.select :country, AddressInfo::COUNTRY_LISTS

    .form-vertical.left-side
      = ai.label 'Phone_home*'
      = ai.text_field :phone_home

      = ai.label 'Telephone no. (Office)'
      = ai.text_field :phone_office

      = ai.label 'Mobile*'
      = ai.text_field :mobile

      = ai.label :fax
      = ai.text_field :fax
