%h1 Additional Information
= f.fields_for :answers do |answer|
  .sub_section.clearfix
    .form-vertical.left-side
      = answer.object.question.question

      = answer.hidden_field :id, value: answer.object.id
      = answer.hidden_field :question_id, value: answer.object.question.id

      %br
      = answer.check_box :answer
      %span
        Check if Yes
