%h1 Additional Information
= f.fields_for :answers do |answer|
  %div
    = answer.object.question.question


    = answer.hidden_field :id, value: answer.object.id
    = answer.hidden_field :question_id, value: answer.object.question.id

    %br
    = answer.check_box :answer
    %span
      Check if Yes
