.bar
.banner
  %center
    = image_tag 'gbpLogo.png'
.bar{:align => "center", :text => ""}
  %strong Welcome to Global Business Power Corporation Online Career Application System
%form.register{:action => ""}
  %h1 GBPC Career Application Form
  %fieldset.row1
    %legend
      Personal Particulars
    %p
      %label
        First Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Middle Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Last Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Nickname
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Birt Date
      %input{:maxlength => "10", :type => "date"}/
      %label
        Birth Place
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Citizenship
      %select
        %option
        %option{:value => "1"}
          Filipino
      %label
        Civil Status
      %select
        %option{:value => "0"}
        %option{:value => "1"}
          Single
    %p
      %label
        Gender
      %select
        %option{:value => "0"}
        %option{:value => "1"}
          Female
      %label
        Religion
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Height
      %input{:maxlength => "5", :type => "number"}/
      %label
        Weight
      %input{:maxlength => "5", :type => "number"}/
    %p
      %label
        Religion
      %input{:maxlength => "10", :type => "text"}/
      %label
        TIN No.
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        SSS No.
      %input{:maxlength => "10", :type => "text"}/
      %label
        Philhealth No.
      %input{:maxlength => "10", :type => "text"}/
  %fieldset.row1a
    %p
      %br/
      Select Profile Photo to upload:
      %br/
      %br/
    #upload
      #pic
        %div{:align => "right"}
          = image_tag 'upload.png', height: '150px', style: 'float: right; border: 1px solid green', width: '150px', id: 'photo'
          %input{:name => "picture", :onchange => "readURL(this);", :type => "file"}/
  %fieldset.row2
    %legend
      Address/Contacts
    %p
      %label
        Address*
      %input.long{:type => "text"}/
    %p
      %label
        Postal Code
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        City *
      %input.long{:type => "text"}/
    %p
      %label
        Country *
      %select
        %option
        %option{:value => "1"}
          United States
    %p
      %label
        Telephone no. (Home)
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Telephone no. (Office)
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Mobile no.
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Fax
      %input{:maxlength => "10", :type => "text"}/
  %fieldset.row3
    %legend
      Educational Attainment
    %strong
      %br>/
      Level of Qualification
      %br/
      %br/
    %p
      %label
        Level
      %select
        %option
        %option{:value => "1"}
          United States
    %p
      %label
        Name of Institution
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Location
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Field of Study
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Major
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Grade
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Graduation Year
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Honors/ Awards Received
      %input{:maxlength => "10", :type => "text"}/
    %p
      %button.edit.button Add
      %button.add.button Edit
      %button.delete.button Delete
  / 
  / 
  %fieldset.row7
    %legend
      Family Background
    %strong
      %br>/
      Level of Qualification
      %br/
      %br/
    %p
      %label
        FirstName
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        MiddleName
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        LastName
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Relationship
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Date of Birth
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Address
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Employer/Company
      %input{:maxlength => "10", :type => "text"}/
      %label.optional
        Position
      %input{:maxlength => "10", :type => "text"}/
    %p
      %button.edit.button Add
      %button.add.button Edit
      %button.delete.button Delete
  / 
  / ccccccccccccccccccccccccccccccccccccccc
  %fieldset.row5
    %legend
      Languages
    Choose the language/s you are proficient in from the list and rate how proficient you are in both oral and written aspects
    %br>/
    (0-worst, 10 best)
    %br/
    %p
      %label Language
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label Spoken
      %input.short{:type => "text"}/
      %label Written
      %input.short{:type => "text"}/
    %p
      %button.edit.button Add
      %button.add.button Edit
      %button.delete.button Delete
  %fieldset.row5
    %legend
      Specialized Skills
    %p
      Enter skills relevant to the jobs you are looking  for - Skill nmae in text box,  number of years of experience, your proficiency
      %br>/
      and click [Add] to add to your skill list.
      %br/
    %p
      %label Skill (e.g., accounting, public speaking)
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label Years of Experience
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label Proficiency
      %input{:maxlength => "10", :type => "text"}/
      %br/
      = succeed "((1)" do
        %br/
      = succeed "the" do
        %br/
    %button.edit.button Add
    %button.add.button Edit
    %button.delete.button Delete
  %fieldset.row6
    %legend
      Certificates
    %strong Professional Certification
    %p
      e.g. CPA, CFA, CISA, CISCO, Chartered Secretary and Administrator, Microsoft Certified Professional, Sun CertifiedJava Programmer
    ertification Name
    %p
      %label Certification Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label Year Obtained
      %input.short{:type => "text"}/
      %label Grade
      %input.short{:type => "text"}/
    %p
      %button.edit.button Add
      %button.add.button Edit
      %button.delete.button Delete
  / 
  %fieldset.row2
    %legend
      Job Preferences
    %strong
      %br>/
      Prefered job vacancy :
    %p
      %label
        1st Preference
      %input.long{:type => "text"}/
    %p
      %label
        2nd Preference
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label.optional
        3rd Preference
      %input.long{:type => "text"}/
    %p
      %label
        Source of application
      %select
        %option
        %option{:value => "1"}
          United States
    %p
      %label.optional
        Specify if others
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        First Name
      %input{:maxlength => "10", :type => "text"}/
      %label
        Last Name
      %input{:maxlength => "10", :type => "text"}/
  %fieldset.row3
    %legend
      Character Reference
    %p
      %label
        First Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Middle Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Last Name
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        No. of years acquainted
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Address
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Contact No.
      %input{:maxlength => "10", :type => "text"}/
    %p
      %label
        Company Name
      %input{:maxlength => "10", :type => "text"}/
      %label
        Position
      %input{:maxlength => "10", :type => "text"}/
    %p
      %button.edit.button Add
      %button.add.button Edit
      %button.delete.button Delete
  / 
  / 
  %fieldset.row10
    %legend
      Availability Status
    %p
      %input{:name => "availability", :type => "radio", :value => "status1"}>/
      Able to assume the position immediately
      %br/
      = succeed "Able" do
        %input{:name => "availability", :type => "radio", :value => "status2"}/
      %input{:maxlength => "30", :name => "lname", :size => "1", :type => "text"}/
      month(s)
      %br/
  / 
  / 
  %fieldset.row11
    %legend
      Work Experience
    %p
      %input{:name => "workexperience", :type => "radio", :value => "we1"}>/
      I am still pursuing my studies and seeking internship
      %br/
      = succeed "I" do
        %input{:name => "workexperience", :type => "radio", :value => "we2"}/
      %br/
      = succeed "Already" do
        %input{:name => "workexperience", :type => "radio", :value => "we3"}/
      %br/
  / 
  / 
  %br/
  / 
  %fieldset.row12
    %legend
      Availability Status
    Willing to travel?
    %span.red *
    = succeed "Yes" do
      %input{:name => "travel", :type => "radio", :value => "expectation1"}/
    = succeed "No" do
      %input{:name => "travel", :type => "radio", :value => "expectation2"}/
    %br/
    Willing to be assigned to a shifting schedule?
    %span.red *
    = succeed "Yes" do
      %input{:name => "shift", :type => "radio", :value => "expectation1"}/
    = succeed "No" do
      %input{:name => "shift", :type => "radio", :value => "expectation2"}/
    %br/
    Willing to be relocated?
    %span.red *
    = succeed "Yes" do
      %input{:name => "relocated", :type => "radio", :value => "expectation1"}/
    = succeed "No" do
      %input{:name => "relocated", :type => "radio", :value => "expectation2"}/
    %br/
    Willing to render overtime?
    %span.red *
    = succeed "Yes" do
      %input{:name => "overtime", :type => "radio", :value => "expectation1"}/
    = succeed "No" do
      %input{:name => "overtime", :type => "radio", :value => "expectation2"}/
    %br/
    Do you possess a personal transport?
    %span.red *
    = succeed "Yes" do
      %input{:name => "ptransport", :type => "radio", :value => "expectation1"}/
    = succeed "No" do
      %input{:name => "ptransport", :type => "radio", :value => "expectation2"}/
    %br/
    What is your expected monthly salary?
    %input{:maxlength => "30", :name => "lname", :size => "5", :type => "text"}/
    in Philippine Peso
    (Php.)
    %br/
    Negotiable
    = succeed "Yes" do
      %input{:name => "negotiable", :type => "radio", :value => "expectation1"}/
    = succeed "No" do
      %input{:name => "negotiable", :type => "radio", :value => "expectation2"}/
    %br/
  / 
  / 
  %fieldset.row13
    %legend
      Additional Information
    %p
      1)Has there been any case file by you or filed against you by any of your persent and/or previous employers, or any other
      %br>/
      person or entity?
      %br/
      If yes, please explain.
      %br/
      = succeed "Yes" do
        %input{:name => "filed", :type => "radio", :value => "expectation1"}/
      = succeed "No" do
        %input{:name => "filed", :type => "radio", :value => "expectation2"}/
      %br/
      2)Do you have any existing or previous (unpaid) financial obligation arising from an employer - employee relation,
      %br/
      credit card transaction, load obligation, contractual obligation, and/or other transaction of a similar nature?
      %br/
      If yes, please enumerate.
      %br/
      = succeed "Yes" do
        %input{:name => "unpaid", :type => "radio", :value => "expectation1"}/
      = succeed "No" do
        %input{:name => "unpaid", :type => "radio", :value => "expectation2"}/
      %br/
      3)Are you aware of any physical/mental condition that may hamper your work responsibilities?
      %br/
      please list them downif any.
      %br/
      = succeed "Yes" do
        %input{:name => "condition", :type => "radio", :value => "expectation1"}/
      = succeed "No" do
        %input{:name => "condition", :type => "radio", :value => "expectation2"}/
      %br/
      4) Have you ever been treated for alcoholism or drug addiction? Have you used illegal drugs or abused alcohol in the
      %br>/
      past?
      %br/
      If yes please explain.
      %br/
      = succeed "Yes" do
        %input{:name => "alcohol", :type => "radio", :value => "expectation1"}/
      = succeed "No" do
        %input{:name => "alcohol", :type => "radio", :value => "expectation2"}/
      %br/
  / 
  / 
  / 
  %fieldset.row8
    %legend
      Terms and Conditions
    .infobox
      %p
        I hereby affirm that the statements made by me on this application are true and correct and that I have not withheld nor misrepresented any
        %br>/
        fact or circumstance which would, if disclosed, affect my application for employment. I hereby allow Global Business Power Corporation to
        %br>/
        verify the information contained herein. I understand that any misrepresentation or omission of any material fact discovered during the course
        %br>/
        of my employment will be sufficient ground for my
        %strong
          termination
          %strong .
      %br/
      %p.agreement
        %input{:type => "checkbox", :value => ""}/
        %label
          *  I accept the
          %a{:href => "#"} Terms and Conditions
      %div
        %button.button Submit Form »
