= form_for @applicant, url: update_profile_path, html: { id: 'applicant-form' }, multipart: true, remote: true do |f|
  = f.hidden_field :pending
  = render 'applicants/personal_information', f: f
  = render 'applicants/address_contacts', f: f
  = render 'applicants/job_preferences', f: f
  = f.check_box :accept_terms, style: 'display: none'

= render 'applicants/education'
= render 'applicants/family_background'
= render 'applicants/languages'
= render 'applicants/specialized_skills'
= render 'applicants/certificates'
= render 'applicants/character_references'

%hr.large/
= check_box_tag :accept_terms
%label
  *  I accept the Terms and Conditions:
  
  %p I hereby affirm that the statements made by me on this application are true and correct and that I have not withheld nor misrepresented any fact or circumstance which would, if disclosed, affect my application for employment. I hereby allow Global Business Power Corporation to verify the information contained herein. I understand that any misrepresentation or omission of any material fact discovered during the course of my employment will be sufficient ground for my termination.
  
= check_box_tag :save_as_draft
%label
  Save as Draft?

= button_tag 'Save', id: 'submit-applicant-form', class: 'btn btn-large btn-primary', style: 'float:right'  
-#%br
-#= button_tag 'Submit Form', id: 'submit-applicant-form', class: 'btn btn-large btn-primary', style: 'float:right'

:javascript
  $(function(){
    $('#save_as_draft').change(function(e){
      $('#applicant_pending').val($(e.target).is(':checked'));
    });

    $('#submit-applicant-form').click(function(){
      $('#applicant-form').submit();
    })
  })
