= form_for @applicant, url: update_profile_path, multipart: true, remote: true do |f|
  = render 'applicants/personal_information', f: f
  = render 'applicants/address_contacts', f: f
  = render 'applicants/education', f: f
  = render 'applicants/family_background', f: f
  = render 'applicants/languages', f: f
  = render 'applicants/specialized_skills', f: f
  = render 'applicants/certificates', f: f
  = render 'applicants/character_references', f: f
  = render 'applicants/job_preferences', f: f

  %hr.large/
  = f.check_box :accept_terms
  %label
    *  I accept the
    %a{:href => "#"} Terms and Conditions
  = f.submit 'Create Resume', class: 'btn btn-large btn-primary', style: 'float:right'
