!!!
%html
  %head
    %title Gbpproject
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .bar
    .banner
      %center
        = image_tag 'gbpLogo.png'
    .bar{:align => "center", :text => ""}
      %strong Welcome to Global Business Power Corporation Online Career Application System
    .container
      = yield
