!!!
%html.cufon-active.cufon-ready
  %head
    %title Gbpproject
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    <link href="//assets2.itrabaho.com/assets/application-b67704c6d5929cdd1836e9721b8a12c2.css" media="screen" rel="stylesheet" type="text/css">
    = csrf_meta_tags
  %body.webkit
    #cboxOverlay{:style => "display: none;"}
    #colorbox{:style => "padding-bottom: 42px; padding-right: 42px; display: none;"}
      #cboxWrapper
        %div
          #cboxTopLeft{:style => "float: left;"}
          #cboxTopCenter{:style => "float: left;"}
          #cboxTopRight{:style => "float: left;"}
        %div{:style => "clear: left;"}
          #cboxMiddleLeft{:style => "float: left;"}
          #cboxContent{:style => "float: left;"}
            #cboxLoadedContent{:style => "width: 0px; height: 0px; overflow: hidden;"}
            #cboxLoadingOverlay
            #cboxLoadingGraphic
            #cboxTitle
            #cboxCurrent
            #cboxNext
            #cboxPrevious
            #cboxSlideshow
            #cboxClose
          #cboxMiddleRight{:style => "float: left;"}
        %div{:style => "clear: left;"}
          #cboxBottomLeft{:style => "float: left;"}
          #cboxBottomCenter{:style => "float: left;"}
          #cboxBottomRight{:style => "float: left;"}
      %div{:style => "position: absolute; width: 9999px; visibility: hidden; display: none;"}
    %header
      #notification.notify
      #top_bar
        .packer
          #quick_login
          #header_menu
            - if applicant_signed_in?
              #welcome_user
                %span.left_end
                %span.mid.cufon
                  %strong
                    Hi
                    = current_applicant.firstname.split(' ').first
                %span.right_end
            %ul
              %li
                = link_to 'My Resume', edit_profile_path
              %li
                = link_to 'Logout', destroy_applicant_session_path, method: :delete
      #header.packer
        #itrabaho_logo
          = image_tag 'gbpLogo.png'
        .container
          - flash.each do |k,v|
            %div{ id: "#{k}"}
              %h3= v
      = yield
%footer{style: 'margin-top: 15px;'}
  .container.text-center{ style: 'color:white'}
    %p.credit All Rights Reserved. Gbpproject 2015.
