!!!
%html
  %head
    %title Gbpproject
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.webkit.devise
    %header
      
      #header
        #gbp_logo
          = image_tag 'gbpLogo.png'

      .container
        .row.sign-in-wrapper
          .col-md-4.col-md-offset-4
            = yield
      %footer
        .container.text-center
          %p.credit All Rights Reserved. Gbpproject 2015.
